<section class="section section-exercises">
  <div class="container">
    <div class="container-exercises">
      <h3 class="text-thirdlevel">Exercises</h3>
      <ul class="button-list">
        <li>
          <button type="button" class="button-exercises active">Muscles</button>
        </li>
        <li>
          <button type="button" class="button-exercises">Body parts</button>
        </li>
        <li>
          <button type="button" class="button-exercises">Equipment</button>
        </li>
      </ul>
      <ul class="gallery js-gallery"></ul>
    </div>
  </div>
</section>
