<section class="section section-exercises">
  <div class="container">
    <div class="container-exercises">
      <h2 class="text-thirdlevel">Exercises</h2>
      <ul class="button-list">
        <li>
          <button type="button" class="button-exercises active js-buttonMuscles">Muscles</button>
        </li>
        <li>
          <button type="button" class="button-exercises js-buttonBodyparts">Body parts</button>
        </li>
        <li>
          <button type="button" class="button-exercises js-buttonEquipment">Equipment</button>
        </li>
      </ul>
      <ul class="gallery list js-gallery"></ul>
    </div>
  </div>
</section>
