<section class="section section-exercises">
<div class="container-exercises">
<h3 class="text-thirdlevel">Exercises</h3>
<ul class="button-list">
    <li class="button-items">
        <button type="button" class="buttonMuscles active">Muscles</button>
    </li>
    <li>
        <button type="button" class="buttonBodyparts">Body parts</button>
    </li>
    <li>
        <button type="button" class="buttonEquipment">Equipment</button>
    </li>
</ul>
<ul class="gallery js-gallery"></ul>
</div>
</section>


