<section>
  <h2>Favorites</h2>
  <div>
    <p>Workout</p>
    <svg class="delete-favorites" width="20" height="20">
      <use href="./img/icons/sprite.svg#icon-favorites-delete"></use>
    </svg>
    <button type="button">
      Start
      <svg class="" width="20" height="20">
        <use href="./img/icons/sprite.svg#icon-arrow-body-parts"></use>
      </svg>
    </button>
  </div>
  <div id="favorites-container">
    <svg class="" width="20" height="20">
      <use href="./img/icons/sprite.svg#icon-body-parts-fitness"></use>
    </svg>
  </div>
</section>
