<section>
  <div class="container-card">
    <h2 class="favorites-title">Favorites</h2>
    <div class="container-worcaut">
      <button class="workout">Workout</button>
      <svg class="delete-favorites" width="16" height="16">
        <use href="./img/icons/sprite.svg#icon-favorites-delete"></use>
      </svg>
      <button type="button" class="button-strart">
        Start
        <svg class="icon-arrow-body" width="14" height="14">
          <use href="./img/icons/sprite.svg#icon-arrow-body-parts"></use>
        </svg>
      </button>
    </div>
    <div id="favorites-container" class="container-cards-favorites">
      <svg class="icon-parts-fitness" width="24" height="24">
        <use href="./img/icons/sprite.svg#icon-body-parts-fitness"></use>
      </svg>
    </div>
  </div>
</section>
