<header class="header">
<div class="header-list">
    <a href="#" class="header-logo">energy.flow</a>
    <svg class="burger-menu"><use href="./img/icons.svg#icon-burger-menu"></use></svg>
    <div class="h-peages">
        <button class="home-button" id="header-button-fst" type="button">Home</button>
        <button class="favourites-button" id="header-button-sec" type="button">Favorites</button>
    </div>
    <ul class="icons-list">
        <li class="header-icon">
            <a href="https://www.facebook.com/goITclub/">
            <svg class="header-svg" width="22" height="22"><use href="./img/icons.svg#icon-facebook"></use></svg>
            </a>
        </li>
        <li class="header-icon">
            <a href="https://www.instagram.com/goitclub/">
            <svg class="header-svg" width="22" height="22"><use href="./img/icons.svg#icon-instagram"></use></svg>
            </a>
        </li>
        <li class="header-icon">
            <a href="https://www.youtube.com/c/GoIT">
            <svg class="header-svg" width="22" height="22"><use href="./img/icons.svg#icon-youtube"></use></svg>
            </a>
        </li>
    </ul>
</div>
</header>