<header class="header">
<div class="container">
    <nav class="header-nav">
    <a href="./src/index.html" class="header-logo">energy.flow</a>
    <div class="burger-menu-open" data-mobile-open><svg class="burger-menu" width="32" height="16"><use href="./img/icons/sprite.svg#icon-burger-menu"></use></svg></div>
    <div class="h-peages">
        <button class="home-button is-active" id="header-button1" type="button" href="./src/index.html">Home</button>
        <button class="favourites-button" id="header-button2" type="button" href="./src/favorites.html">Favorites</button>
    </div>
    <ul class="icons-list">
        <li class="header-icon">
            <a href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="header-svg" width="28" height="28"><use href="./img/icons/sprite.svg#icon-facebook"></use></svg>
            </a>
        </li>
        <li class="header-icon">
            <a href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="header-svg" width="28" height="28"><use href="./img/icons/sprite.svg#icon-instagram"></use></svg>
            </a>
        </li>
        <li class="header-icon">
            <a href="https://www.youtube.com/c/GoIT"  target="_blank">
            <svg class="header-svg" width="28" height="28"><use href="./img/icons/sprite.svg#icon-youtube"></use></svg>
            </a>
        </li>
    </ul>
    </nav>
</div>
</header>

<div class="container">
<div class="backdrop">
    <div class="burger">
    <a href="./src/index.html" class="burger-logo">energy.flow</a>
    <div class="burger-closed"><svg width="20" height="20"><use href="./img/icons/sprite.svg#icon-modal-close"></use></svg></div>
    </div>
    <div class="burger-peages">
        <button class="backdrop-button is-active" id="header-button1" type="button" href="./src/index.html">Home</button>
        <button class="backdrop-button" id="header-button2" type="button" href="./src/favorites.html">Favorites</button>
    </div>
    <ul class="burger-icons-list">
        <li class="burger-icon">
        <a href="https://www.facebook.com/goITclub/" target="_blank">
        <svg class="burger-svg" width="28" height="28">
        <use href="./img/icons/sprite.svg#icon-facebook"></use>
        </svg></a>
        </li>
        <li class="burger-icon">
        <a href="https://www.instagram.com/goitclub/" target="_blank">
        <svg class="burger-svg" width="28" height="28">
        <use href="./img/icons/sprite.svg#icon-instagram"></use>
        </svg></a>
        </li>
        <li class="burger-icon">
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg class="burger-svg" width="28" height="28">
        <use href="./img/icons/sprite.svg#icon-youtube"></use>
        </svg></a>
        </li>
    </ul>
</div>
</div>