<div class="backdrop-thumb is-open">
  <div class="modal-window">
    <button class="modal-button-close js-modal-window" type="button">
      <svg class="close-btn-icon" width="24" height="24">
        <use href="./img/icons/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="exer-thumb">
      <img class="img-modal js-img" src="" alt="exercise gif" />
      <div>
        <div class="modal-exer-thumb">
          <h2 class="modal-title js-title js-capital"></h2>
          <div class="raiting">
            <p class="raiting-number js-raiting"></p>
            <ul class="raiting-item">
              <li>
                <svg class="icon-star" width="24" height="24">
                  <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-star" width="24" height="24">
                  <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-star" width="24" height="24">
                  <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-star" width="24" height="24">
                  <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                </svg>
              </li>
              <li>
                <svg class="icon-star non-activ" width="24" height="24">
                  <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <ul class="exer-item">
            <li>
              <h3 class="title-exer">Target</h3>
              <p class="paragraf-exer js-target js-capital"></p>
            </li>
            <li>
              <h3 class="title-exer">Body Part</h3>
              <p class="paragraf-exer js-body-part js-capital"></p>
            </li>
            <li>
              <h3 class="title-exer">Equipment</h3>
              <p class="paragraf-exer js-equipment js-capital"></p>
            </li>
            <li>
              <h3 class="title-exer">Popular</h3>
              <p class="paragraf-exer js-popular"></p>
            </li>
            <li>
              <h3 class="title-exer">Burned Calories</h3>
              <p class="paragraf-exer js-calories js-capital"></p>
            </li>
          </ul>
          <p class="main-parag js-description js-capital"></p>
        </div>
        <div class="buttons-modal">
          <button class="add-to-favorities">
            Add to favorites
            <svg class="heart-btn-icon" width="18" height="18">
              <use href="./img/icons/sprite.svg#icon-favorites-heart"></use>
            </svg>
          </button>
          <button class="add-to-favorities hidden-btn js-remove">
            Remove from
            <svg class="heart-btn-icon active-favorites" width="18" height="18">
              <use href="./img/icons/sprite.svg#icon-favorites-heart"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
