<section class="section">
  <div class="container quote-block">
    <div class="quote quote-favorites">
      <div class="quote-main-title">
        <svg class="icon-quote-fitness" width="34" height="32">
          <use href="./img/icons/sprite.svg#icon-quote-fitness"></use>
        </svg>
        <h2 class="quote-title">Quote of the day</h2>
        <svg class="icon-quote" width="28" height="28">
          <use href="./img/icons/sprite.svg#icon-quote"></use>
        </svg>
      </div>

      <div class="quote-thumb">
        <p class="quote-paragraf js-quote"></p>
        <p class="quote-author js-author"></p>
      </div>
    </div>
    <div class="favorities-thumb">
      <div class="quote-favorites-thumb"></div>
      <div class="quote-motivation-block">
        <svg class="icon-static-dumbbell" width="20" height="20">
          <use href="./img/icons/sprite.svg#icon-static-dumbbell"></use>
        </svg>
        <h2 class="quote-static-title">110 min</h2>
        <p class="quote-static-paragraf">Daily norm of sports</p>
      </div>
    </div>
  </div>
</section>
