<section class="section">
    <div class="container static-container">
        <div class="static-sport-thumb"></div>
        <div class="static-main-information">
            <div class="static-main-title">
                <div class="static-main-dumbbell">
                    <svg class="static-dumbbell" width="20" height="20">
                        <use href="./img/icons/sprite.svg#icon-static-dumbbell"></use>
                    </svg>
                </div>
                <h2 class="static-time">110 min</h2>
            </div>
            <div class="static-thumb">
                <p class="static-title">
                    Daily  norm of sports
                </p>
                <p class="static-paragraf">
                    The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day?
                </p>
            </div>
        </div>
    </div>
</section>