.exercises-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 20px;
}

.exercises-header {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 1.01;
}

.exercises-button {
  padding: 7px 10px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--text-light);
  color: var(--black-background);
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  background-color: var(--dark-grey-background);
  color: var(--text-light);
  box-shadow: 0 4px 10px #00000040;
}

.exercises-button:hover, .exercises-button:focus {
  background-color: var(--hover-button-icon);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  margin-bottom: 32px;
}

.gallery-item {
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  /* width: 313px; */
  overflow: hidden;
  position: relative;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
  max-width: 100%;
}

.gallery-item-description {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 45px 105px 45px 105px;
  background: linear-gradient(0deg,
      rgba(16, 16, 16, 0.7),
      rgba(16, 16, 16, 0.7)),
    linear-gradient(0deg, rgba(246, 246, 246, 0.3), rgba(246, 246, 246, 0.3));

  .name {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--text-light);
    text-transform: capitalize;
    margin-bottom: 2px;
  }

  .filter {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--text-light);
  }
}

@media screen and (min-width: 1440px) {
  .exercises-btns-div {
    gap: 8px;
  }

  .gallery {
    gap: 28px 20px;
  }
}

@media screen and (min-width: 768px) {
  .exercises-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .exercises-header {
    font-size: 44px;
  }

  .gallery {
    gap: 20px 14px;
  }

  .gallery-item {
    width: 295px;
    height: 232px;
  }

  .ex-search {
    margin-top: 0px;
  }
}

.container-block {
  position: relative;
  min-width: 320px;
  max-width: 335px;
  padding: 40px 20px;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--light-gray-background);
  margin: 0 auto;
}

.exercises-btns-div {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  .container-block {
    max-width: 736px;
    border-radius: 50px;
    padding: 64px 48px;
  }
}

@media screen and (min-width: 1440px) {
  .container-block {
    max-width: 1408px;
  }
}

.container-exercises {
  background-color: var(--light-gray-background);
  border-radius: 30px;
  min-height: 760px;
}

@media screen and (min-width: 768px) {
  .exersizes-container {
    padding: 64px 48px;
    border-radius: 50px;
    min-height: 1091px;
    width: 100%;
  }
}

/* styles for excercises after the click */

.ex-search {
  display: none;
}

.head-small {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: rgba(27, 27, 27, 0.5);
}

.ex-list-no-result {
  padding-top: 164px;
  padding-bottom: 320px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
}

.exercise-item {
  border-radius: 15px;
  padding: 16px;
  background-color: var(--white-color);
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ex-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.ex-item-head-group {
  display: flex;
  gap: 16px;
}

.ex-item-workout {
  border-radius: 15px;
  background-color: var(--dark-grey-background);
  padding: 5px 8px;
  color: var(--text-light);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.ex-rating-group {
  position: relative;
  display: flex;
  align-items: center;
}

.ex-item-rating {
  font-size: 12px;
  line-height: 1.5;
  color: var(--black-background);
}

.ex-star-icon {
  position: absolute;
  left: 40px;
  top: 13px;
  width: 18px;
  height: 18px;
  fill: var(--star);
  transform: rotate(-360deg);

  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}


.ex-item-start {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--black-background);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ex-item-start:hover, .ex-item-start:focus {
  transform: scale(1.15);
}

.ex-arrow-icon {
  width: 14px;
  height: 14px;
  stroke: var(--black-background);
  align-self: center;
}

.ex-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  text-wrap: nowrap;
}

.ex-run-men {
  width: 24px;
  height: 24px;
  background-color: var(--dark-grey-background);
  border-radius: 100%;
  flex-shrink: 0;
  padding: 4px 5px;
}

.ex-icon-run {
  width: 14px;
  height: 16px;
  fill: var(--text-light);
}

.ex-item-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ex-item-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  font-size: 12px;
  line-height: 1.5;

  overflow: hidden;
  text-overflow: ellipsis;
}

.ex-item-desc {
  color: var(--border-color);
}

/* Search form */
.search-form {
  position: relative;
}

.search-input {
  display: block;
  padding: 12px 35px 12px 14px;
  width: 295px;
  background-color: var(--text-light);
  border-radius: 30px;
  border: transparent;
  outline: transparent;

  transition: border 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:focus,
.search-input:hover {
  border: 1px solid var(--border-color);
}

.search-input::placeholder {
  color: var(--black-background);
  font-size: 16px;
  line-height: 1.5;
  border: transparent;
}

.search-btn,
.search-clear-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 30px;
  background-color: var(--text-light);
}

.search-clear-btn {
  top: 11px;
  right: 35px;
  visibility: hidden;
}

.search-icon {
  width: 18px;
  height: 18px;
  stroke: var(--black-background);
  fill: var(--white-color);
}

/* Media queries  for search and excercises after the click*/
@media screen and (min-width: 768px) {
  .head-small {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(27, 27, 27, 0.5);
  }

  .ex-list-no-result {
    padding: 230px 50px;
  }

  .exercises-card {
    gap: 20px 14px;
  }

  .exercise-item {
    flex-basis: calc((100% - 14px) / 2);
  }

  .search-input {
    width: 246px;
  }

  .ex-item-start {
    font-size: 16px;
    line-height: 1.5;
  }

  .ex-arrow-icon {
    width: 16px;
    height: 16px;
  }

  .ex-title {
    margin-bottom: 12px;
  }

  .ex-item-name {
    font-size: 24px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-item {
    width: 313px;
    height: 250px;
  }

  .exercises-card {
    gap: 28px 20px;
  }

  .exercises-header {
    margin-bottom: 32px;
    font-weight: 400;
  }

  .head-small {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(27, 27, 27, 0.5);
  }

  .ex-list-no-result {
    padding-top: 217px;
    padding-bottom: 350px;
    padding-left: 340px;
    padding-right: 340px;
  }

  .ex-item-info {
    gap: 10px;
    text-wrap: nowrap;
  }

  .exercise-item {
    flex-basis: calc((100% - 40px) / 3);
  }

  .gallery-item:hover,
  .gallery-item:focus {
    transform: scale(1.05);
  }

  .exercise-item:hover,
  .exercise-item:focus {
    transform: scale(1.03);
  }
}

.accent-text {
  color: var(--dark-grey-background);
}

.tui-pagination {
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.tui-page-btn {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.04em;
  padding: 0;
  border-radius: 50%;
  color: var(--border-color);
}

.tui-is-selected {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
}

.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  display: none;
}

.animation-items {
  animation-name: appear-items;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes appear-items {
  0% {
    transform: scale(0.92);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.02);
    opacity: 0.85;
  }

  75% {
    transform: scale(0.95);
    opacity: 0.95;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}