.container-exercises {
    padding: 40px 0;
    border-radius: 30px;
    background-color: #E8E8E8;
    
}

.text-thirdlevel {

    font-weight: 400;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: start;
    color: #1B1B1B;
    margin-left: 20px;
    margin-bottom: 20px;
}

.button-list {

    display: flex;
    gap: 6px;
    margin-left: 20px;
    margin-bottom: 40px;
    
}

.buttonMuscles.active {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color:#F6F6F6;
    border-style: none;
    border-radius: 30px;
    padding: 7px 14px;
  

}

.active {

    background-color: #7E847F;
    
}

.buttonBodyparts {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color:#F6F6F6;
    color:#1B1B1B;
    border-style: none;
    border-radius: 30px;
    padding: 7px 14px;
} 

.buttonEquipment {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    background-color:#F6F6F6;
    color:#1B1B1B;
    border-style: none;
    border-radius: 30px;
    padding: 7px 14px;
}

.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    
}

.list {
    
    position: relative;
    
}

.pic {
    
    filter: brightness(0.4);
    border-radius: 12px;
}

.position-text {

    position: absolute;
    top: 0;
    text-align: center;
    margin: 96px 75px;
    width: 145px;
    text-transform: capitalize;
  
}

.muscles-title {

    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #F6F6F6;
    

}

.filter-title {
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #F6F6F666;
    opacity: 0.4;

}

@media screen and (min-width: 768px){

    .container-exercises {

        max-width: 768px;
        padding-top: 64px;
        padding-right: 48px;
        padding-bottom: 128px;
        padding-left: 48px;

    }

    .text-thirdlevel {

        font-size: 44px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-left: 48px;
    }

    .button-list {
        
        margin-left: 48px;
    }

    .gallery {
        margin-left: 48px;
        gap: 14px;
    }
    
}

@media screen and (min-width: 1158px) {

    .container-exercises {

        max-width: 1158px;
        padding-top: 64px;
        padding-bottom: 128px;
        margin-top: 0;
    }

    .gallery {
        
        
        gap: 20px;
    }
    
}

