/* Футер */
.footer {
    width: 335px;
    background-image: url('../img/footer/footer_mobile.webp');
    background-size: cover;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 20px;

    @media screen and (min-width: 320px) and (min-resolution: 192dpi) {
        background-image: url('../img/footer/footer_mobile@2x.webp');
    }

    @media screen and (min-width: 768px) {
        width: 736px;
        height: 576px;
        border-radius: 50px;
        background-image: url('../img/footer/footer_tablet.webp');
        position: relative;
        padding-top: 64px;
        padding-bottom: 32px;
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        background-image: url('../img/footer/footer_tablet@2x.webp');
    }

    @media screen and (min-width: 1440px) {
        width: 1408px;
        height: 454px;
        background-image: url('../img/footer/footer_1440.webp');
    }

    @media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
        background-image: url('../img/footer/footer_1440@2x.webp');
    }
}

.footer-container {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 32px 139px;
        padding-right: 41px;
        padding-left: 48px;
    }

    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
        gap: 160px;
    }
}

/* Лого та лінки */
.footer-company-info {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.footer-company-logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: var(--text-light);
    display: block;
    margin-bottom: 9px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 30px;
    }
}

.footer-social-list {
    display: flex;
    gap: 12px;

    @media screen and (min-width: 768px) {}
}

/* .footer-social-item {

} */

.footer-social-link {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(246, 246, 246, .2);

    padding: 8px;

}

.footer-social-icon {
    fill: var(--text-light);

    @media screen and (min-width: 768px) {
        width: 28px;
        height: 28px;
    }
}

/* Заголовок */
.footer-title {
    font-weight: 400;
    color: var(--text-light);
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 345px;
        font-size: 54px;
        line-height: .93;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1440px) {
        width: 488px;
        line-height: 0.97;
        width: 430px;
        /* margin-left: 55px; */
    }
}

.footer-title-span {
    color: var(--text-light);
    opacity: 0.3;
    font-style: italic;
}

/* Підписка */
.footer-subscription {
    /* margin-bottom: 60px; */
    margin-bottom: 120px;


    @media screen and (min-width: 768px) {
        margin-left: auto;
        width: 352px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 0;
    }
}

.footer-subscription-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: var(--text-light);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.33;
    }
}

/* .footer-subscription-form {
    
} */

/* .footer-subscription-label {
} */

.footer-subscription-input {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    padding: 12px 14px;
    color: var(--text-color-alfa);
    border: 1px solid var(--text-light);
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 12px;
    outline: none;

    @media screen and (min-width: 768px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.footer-subscription-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: var(--text-light);
    background-color: var(--dark-grey-background);
    border-radius: 30px;
    border: none;
    padding: 12px 130px;

    @media screen and (min-width: 768px) {
        width: 100%;
        padding: 12px 157px;
        font-size: 16px;
        line-height: 1.33;
    }
}

/* Права */
.footer-security {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 768px) {
        position: absolute;
        align-items: center;
        flex-direction: row;
        bottom: 32px;
        gap: 32px;
        left: 148px;
    }

    @media screen and (min-width: 1440px) {
        left: 485px;
        bottom: 26px;
    }
}

.footer-security-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 0.83;
    letter-spacing: -0.02em;
    color: var(--text-light);
    opacity: .9;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.28;
    }
}

.footer-security-list {
    display: flex;
    justify-content: flex-start;
}

.footer-security-item {
    font-weight: 400;
    font-size: 12px;
    color: var(--text-light);
    line-height: .83;
    letter-spacing: -.02em;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}

.footer-security-list li:not(:last-child):after {
    content: "/";
    margin: 0 8px;
    color: var(--text-light);
    font-size: 12px;
    line-height: 0.83;
}