.on-home {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.backdrop-button.active-link {
    background: var(--white-color);
    color: var(--text-dark);
}

.header-logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: var(--text-dark)
}

.header-nav-list {
    display: none;
}

.icons-list {
    display: none;
}

.header-nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}



.header-svg {
    fill: var(--dark-grey-background);
}

.header-svg:hover,
.header-svg:focus {
    fill: var(--hover-button-icon);
}

.burger-menu-open {
    stroke: var(--accent);
    display: block;
}

.burger-menu-open:hover,
.burger-menu-open:focus {
    stroke: var(--hover-button-icon);
}

.backdrop.is-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .hide-thumb {
        display: none;
    }

    .background-menu {
        display: none;
    }

    .header-logo {
        font-size: 28px;
    }

    .burger-menu-open {
        display: none;
    }

    .header-nav {
        top: 60px;
        left: 32px;
        gap: 75px;
    }

    .on-home .header-nav-list {
        display: flex;
        justify-content: center;
        width: 211px;
        height: 52px;
        padding-top: 8px;
        padding-bottom: 8px;
        /* padding-left: 42px;
        padding-right: 16px; */
        border-radius: 60px;
        background: #7e847f;
    }

    .icons-list {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .header-icon {
        border: 2px solid rgba(126, 132, 127, 0.5);
        border-radius: 10px;
        padding-top: 5px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-home {
        position: relative;
        text-decoration: none;
        transition: color 1.5s cubic-bezier(0.23, 1, 0.32, 1),
            transform 2s cubic-bezier(0.23, 1, 0.32, 1);

        display: flex;
        padding: 6px 26px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        font-family: 'DM Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        border: none;
        width: 96px;
    }

    .link-favorites {
        position: relative;
        text-decoration: none;
        transition: color 1.5s cubic-bezier(0.23, 1, 0.32, 1),
            transform 2s cubic-bezier(0.23, 1, 0.32, 1);

        display: flex;
        padding: 6px 26px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        color: var(--white);
        font-family: 'DM Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        border: none;
        width: 96px;
    }

    .link-favorites.active-link,
    .link-home.active-link {
        background: white;
        color: black;
    }

}

@media screen and (min-width: 1440px) {
    .header-nav {
        padding: 30px 48px;

    }
}

.background-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(46, 47, 66, 0.40);
}

.background-menu.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 19px 20px 40px 20px;
    background-color: var(--dark-grey-background);
    visibility: visible;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 335px;
    height: 90vh;
    border-radius: 30px;
    z-index: 10;
}

.burger-closed {
    stroke: var(--text-light);
}

.burger-closed:hover,
.burger-closed:focus {
    stroke: var(--hover-button-icon);
}

.burger-icons-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.burger-logo {
    color: var(--text-light);
}

.burger-icon {
    border: 2px rgba(200, 200, 200, 0.3) solid;
    border-radius: 10px;
    padding: 8px 8px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.burger-svg {
    fill: var(--text-light);
    padding: 0;
}

.backdrop-button {
    width: 96px;
    color: var(--text-light);
    font-size: 16px;
    background-color: transparent;
    border-radius: 30px;
    border-style: none;
    display: block;
    text-align: center;
    padding: 6px;
    line-height: normal;
}

.burger-peages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}