.hero-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
    padding: 60px 20px 81px;
    border-radius: 30px;
}
.hero-title {
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 0.89em;
}
.title-span {
    color: var(--accent);
    font-style: italic;
}
.hero-paragraf {
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 1.29;
}
.background {
    background-size: cover;
    background-position: center;
    background-image: 
    url(../img/hero/hero_mobile.webp);
    border-radius: 30px;
    padding: 319px 184px 20px 10px;
    margin-bottom: 20px;
}
.tag-paragraf {
    font-size: 12px;
    line-height: 1.17;
    color: var(--text-light);
    text-align: center;
}
.hero-list {
    padding: 4px 10px;
    border-radius: 30px;
    border: 1px rgba(96, 96, 96, 0.3) solid;
}
.hero-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
@media (min-width: 320px) and (min-resolution: 192dpi) {
    .background {
    background-image: 
    url(../img/hero/hero_mobile@2x.webp);
    }
}

@media screen and (min-width: 768px) {
.hero-title {
    font-size: 98px;
    line-height: 0.97;
    letter-spacing: -0.04em;
}
.hero-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    width: 396px;
}
.background {
    background-image:
    url(../img/hero/hero_tablet.webp);
    border-radius: 50px 0 50px 50px;
    padding: 764px 32px 64px 20px;
    background-position: bottom;
    margin-bottom: 0;
}
.hero-div {
    flex-direction: column;
    gap: 25px;
    width: 488px;
    padding: 231px 32px 192px 32px;
    border-radius: 0px 50px 50px 50px;
}
.container-hero {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.hero-tag {
    gap: 8px;
    margin: 0;
}
.tag-paragraf {
    font-size: 16px;
    line-height: 1.3;
}
.hero-list {
    border: 2px rgba(96, 96, 96, 0.3) solid;
    padding: 4px 16px;
}
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
    .background {
    background-image:
    url(../img/hero/hero_tablet@2x.webp);
    }
}
@media screen and (min-width: 1440px) { 
.hero-title {
    font-size: 120px;
}
.hero-paragraf {
    width: 528px;
}
.background {
    background-image:
    url(../img/hero/hero_1440.webp);
    width: 704px;
    height: 884px;
    border-radius: 50px 0 50px 50px;
    padding: 780px 440px 32px 48px;
}
.hero-div {
    row-gap: 25px;
    width: 704px;
    height: 884px;
    padding: 225px 32px 241px 32px;
    border-radius: 0px 50px 50px 50px;
}
}
@media (min-width: 1440px) and (min-resolution: 192dpi) {
    .background {
    width: 704px;
    height: 884px;
    background-image:
    url(../img/hero/hero_1440@2x.webp);
    }
}