.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.backdrop-thumb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 1;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-thumb.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
    transition: transform 0.3s ease;
    width: 335px;
    height: 90vh;
    overflow-y: auto;
    border-radius: 20px;
    background-color: var(--text-light);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
}

.modal-button-close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 15px;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-radius: 50%;
    border: none;

    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
    stroke: var(--text-dark);

    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover,
.close-btn-icon:focus {
    stroke: var(--hover-button-icon);
}

.img-modal {
    margin-bottom: 20px;
}

.modal-exer-thumb {
    margin-bottom: 40px;
}

.modal-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: var(--text-dark);

    margin-bottom: 10px;
}

/* Рейтинг зірочки */
.raiting {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    line-height: 0.75;

    margin-bottom: 16px;
}

.raiting-body {
    position: relative;
}

.raiting-body::before {
    content: '★★★★★';
    display: block;
    color: var(--not-color-star);

}

.raiting-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.raiting-active::before {
    content: '★★★★★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--star);
}

.raiting-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.raiting-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;

}

.raiting-value {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-dark);
}

.exer-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    border-top: 1px solid var(--not-color-star);
    border-bottom: 1px solid var(--not-color-star);

    margin-bottom: 20px;
    padding: 10px 0;
}

.title-exer {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--border-color);
}

.paragraf-exer {
    color: var(--text-dark);
    font-weight: 500;
    line-height: 1.28;
    font-size: 14px;
}

.main-parag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var(--text);
}

.buttons-modal {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.hidden-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.add-to-favorities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 30px;
    background-color: var(--accent);
    color: var(--text-light);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    border: none;
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 12px 80px;
}

.add-to-favorities:hover,
.add-to-favorities:focus {
    background-color: var(--hover-button-icon);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.heart-btn-icon {
    fill: none;
    stroke: var(--text-light);
}

.heart-btn-icon.active-favorites {
    fill: var(--star);
    stroke: var(--star);
}

@media screen and (min-width: 768px) {
    .modal-window {
        width: 716px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: hidden;
        margin: 0 auto;
    }

    .exer-thumb {
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }

    .modal-button-close {
        top: 16px;
        right: 16px;
    }

    .img-modal {
        width: 270px;
        margin-bottom: 0;
    }

    .modal-title {
        font-size: 24px;
        line-height: 1.33;
    }

    .add-to-favorities {
        font-size: 16px;
    }

    .heart-btn-icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .modal-window {
        width: 732px;
    }

    .exer-item {
        gap: 30px;
    }
}

.animation-items-remove {
    opacity: 0;
    transition: opacity 0.5s ease;
}