@media screen and (min-width: 1440px) {
    .static-container{
        align-items: stretch;
        display: flex;
    }
}

.static-sport-thumb {
    height: 272px;
    background-image: url('../img/static/static_mobile.webp') ;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .static-sport-thumb {
        background-image: url('../img/static/static_mobile@2x.webp');
    }
}
@media screen and (min-width: 768px) {
    .static-sport-thumb {
        height: 302px;
        background-image: url('../img/static/static_tablet.webp');
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        .static-sport-thumb  {
            background-image: url('../img/static/static_tablet@2x.webp');
        }
    }
}
@media screen and (min-width: 1440px) {
    .static-sport-thumb  {
        width: 704px;
        background-image: url('../img/static/static_1440.webp');
    }

    @media screen and (min-width: 1440px) and (min-resolution: 192dpi){
        .static-sport-thumb  {
            background-image: url('../img/static/static_1440@2x.webp');
        }
    }
}

.static-main-information {
    padding: 40px 20px;
    background-color: var(--black-background);
    border-radius: 30px;

    @media screen and (min-width: 768px) {
        border-radius: 50px;
        padding: 64px 80px;
    }

    @media screen and (min-width: 1440px) {
        width: 704px;
        padding: 64px;
    }
}

.static-main-title {
    display: flex;
    align-items: center;
}

.static-time {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: var(--text-light);
    padding-left: 16px;
    padding-bottom: 2px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.33;
    }
}

.static-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var( --text-color-alfa);
    padding-bottom: 14px;

    @media screen and (min-width: 768px) {
        padding-bottom: 25px;
    }
}

.static-paragraf {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var( --text-color-alfa);
    
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.static-thumb {
    padding-left: 46px;
}

.static-main-dumbbell {
    display: flex;
    justify-content: center;
    align-items: center;
        width: 34px;
        height: 32px;
    border-radius: 50%; 
    background-color: rgba(246, 246, 246, 0.1);
}

.static-dumbbell {
    fill: var(--text-light); 
  }